<div class="row">
    <a [routerLink]="['/employee-add']">Thêm mới</a>
</div>
<table class="table">
    <thead>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>age</td>
            <td>status</td>
            <td>creted at</td>
            <td>Detail</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.age}}</td>
            <td>{{employee.status}}</td>
            <td>{{employee.createdAt | date}}</td>
            <td><a [routerLink]="['/employee-detail',employee.id]">Detail</a></td>
            <td><a [routerLink]="['/employee-edit',employee.id]">Edit</a></td>
        </tr>
    </tbody>
</table>
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li *ngFor="let page of pages"><a [routerLink]="['/employees']" [queryParams]="{page:page,filter:'a'}">{{page}}</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>