<table class="table">
    <thead>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>age</td>
            <td>status</td>
            <td>creted at</td>
            <td>Detail</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.age}}</td>
            <td>{{employee.status}}</td>
            <td>{{employee.createdAt | date}}</td>
            <td><a [routerLink]="['/employee-detail',employee.id]">Detail</a></td>
        </tr>
    </tbody>
</table>